
    <!-- CONTENT AREA -->
    <section class="audio-area">
        <a id="main-content"></a>
        <h2 class="hidden">Main Content area Audio</h2>
        <div id="audio-definition">
            <h3>Audio Accesibility</h3>
            <p>What is audio accessibiity? <br> Audio accessibility is making the content that is available from the audio clip available to everyone including the hearing impaired. With that I added a transcript of the lyrics which is toggleable to be displayed or hidden on the page. A downloadable link in a txt format for any word program. </p>
        </div>
        <div id="audio-sample-1">
            <h4 class="audio-h4">Audio Sample 1 Moon</h4>
            <audio  src="/audio/moon.mp3" controls></audio> 
            <a class="dwnld" href="/captions/moon-transcript.txt" download aria-label="download-button-label">
                <div class="button-selector">
                  Download Text File Audio Transcript
                </div>
              </a>
              
              
            
                  <button id="toggle-btn" aria-expanded="false">Toggle Transcript</button>
                  <div class="hide" id="transcript-area-1">
                    Bomb / Moon
                    I was sure that it'll be easier
                    To clear you from my mind
                    Struggled with dusty corners
                    That were filled with fatal bombs
                    Bomb bomb bomb
                    Situation got absurd when I stepped on a memory thorn
                    How I did it to myself?
                    Bled out heavy, had to break free
                    From the minefield that you were
                    Bomb bomb bomb
                    
                    You let it burn
                    Spat on the fuze
                    The tables turned
                    The screws were loose
                    I guess you had to learn
                    
                    I wish you'll fall off from my window
                    And take a bad trip to the ground, ooh
                    It'll be my pleasure to see you pressure
                    Just before you'll break a bone
                    
                    You're reflecting I'm deflecting
                    Burning tires to move on
                    Too many noises clashed our choices
                    Future came and left like ghosts
                    No more messing no caressing
                    Heavy panting on the walls
                    How I did it to myself?
                    Craving a hit practice slant sleep
                    Now my bed is cold and sad
                    
                    You let it burn
                    Spat on the fuze
                    The tables turned
                    The screws were loose
                    I guess you had to learn
                    
                    I wish you'll fall off from my window
                    And take a bad trip to the ground, ooh
                    It'll be my pleasure to see you pressure
                    Just before you break a bone
    <track class="captions-track" src="/captions/thislifeoftime-audio-transcription.vtt" kind="captions" srclang="en" label="English">
  </div>
            </div>
        <div id="audio-sample-2">
            <h4 class="audio-h4">Audio Sample 2 This Life of Time</h4>
            <audio src="/audio/ThisLifeofTime.mp3" controls></audio>
                <track class="captions-track" src="/captions/thislifeoftime-audio-transcription.vtt" kind="captions" srclang="en" label="English">
                
                <a class="dwnld" href="/captions/thislifeoftime-transcript.txt" download aria-label="download-button-label">
                    <div class="button-selector">
                      Download Text File Audio Transcript
                    </div>
                  </a>
                
                  <button id="toggle-btn2" aria-expanded = "false" >Toggle Transcript</button>

                  <div class="hide" id="transcript-area-2">
                This Life of Time / Beò
    It’s all in our hands this life of time
    That’s given to us all
    It gathers round each night, each morn
    We watch it pass and grow
    It is all in our hands
    It is all in our hands
    
    With every field and rising sea
    Can hear the sounds of all
    And with every change
    We’ll always be
    Where hopes not lost but found
    It is all in our hands
    It is all in our hands
    
    It is all in our hands
    It is all in our hands
    
    And we know the change, the change will surely come
    Maybe one more trip around the sun
    But we’ll gather here where land meets sea
    Where we can be as one
    And we know the change, the change will surely come
    Maybe one more trip around the sun
    And we’ll gather here where land meets sea
    Where we can be as one
    It is all in our hands
    We can be as one
    
    It is all in our hands
    And we know the change, the change will surely come
    This life of time
    It can be
    It is all in our hands, It is all in our hands
                <track class="captions-track" src="/captions/thislifeoftime-audio-transcription.vtt" kind="captions" srclang="en" label="English">
              </div>
            </div>
          
          

    </section>

<script src="/js/components/transcripts.js" type="module" defer></script>
